<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        text-align: center;
        font-family: 'Poppins', sans-serif;
        background-color: EEEEEE;
      }
      nav, .edit {
        background-color: #519fb1;
        height: 40px;
      }
      nav a, .edit a {
        color: white;
        text-decoration: none;
        position: relative;
        top: 10px;
      }
      nav a:hover, .edit a:hover {
        color: #e39774;
      }
      img {
        width: 50%;
      }
      .container {
        border: solid 1px #519fb1;
        width: 40%;
        margin: 15px auto;
        border-radius: 8px;
        background-color: #E39774;
        padding: 10px;
      }
      form {
        padding: 15px;
      }
      input[type="submit"] {
        padding: 8px 10px;
        border:#519fb1 2px solid;
        border-radius: 5px;
        color:#519fb1;
      }
      input[type="submit"]:hover {
        background-color: #E39774;
      }
      
      
    </style>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Details</title>
  </head>
  <body>
    <nav>
      <a href="/products">Back to all products</a>
    </nav>
    <div class="container">
      <h1><%= product.name%></h1>
      <img src="<%= product.img%>" alt="<%= product.name%>" />
      <p><%= product.description%></p>
      <p>$<%= product.price%></p>
      
        <% if (product.qty > 0) { %>
            <p><%= product.qty%> remaining</p>
      <form action="/products/<%= product._id%>/buy?_method=PUT" method="POST">
        <input type="submit" value="BUY">
      </form>
      <% } else { %>
        <p>OUT OF STOCK</p>
        <% } %>
    </div>

    <form action="/products/<%= product._id%>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE">
    </form>

    <div class="edit">
        <a href="/products/<%= product._id%>/edit">Edit this product</a>
    </div>
    
  </body>
</html>
